@import './node_modules/reset-css/sass/reset';

body {
	font-family: 'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','HiraKakuProN-W3';
	color: #333;
}
strong,b {
	font-weight: bold;
}

#container_wrapper {
	width: 100vw;
	//height: 100vh;
	display: flex;
	background-color: #fff;
	box-sizing: border-box;
	#container_navigation {
		flex-basis: 80px;
		display: flex;
		justify-content: center;
		border-right: 1px solid #ccc;
	}
	#container_main {
		flex: 1;
	}
}

#container_navigation {
	$icon_list: search,message,tsubuyaki,bbs,contents;
	.container_navigation_body {
		display: flex;
		flex-direction: column;
		padding-top: 15px;
		.list_item {
			position: relative;
			padding: 15px 0;
			.list_item_icon {
				display: block;
				width: 30px;
				height: 30px;
				background-repeat: no-repeat;
				background-position: center;
				background-size: 26px auto;
				@each $icon in $icon_list {
					&.#{$icon} {
						background-image: url(./img/#{$icon}.png);
					}
				}
				&.top {
					background-position: left center;
					background-size: auto 30px;
					background-image: url(./img/logo.png);
				}
				&.my {
					border-radius: 50%;
					background-image: url(./img/prof.png);
					background-size: 30px auto;
					overflow: hidden;
				}
			}
		}
		.navigation_sub {
			visibility: hidden;
			opacity: 0;
			transition: .2s;
			position: absolute;
			//top: -90px;
			bottom: -90px;
			left: 80px;
			width: 180px;
			height: 240px;
			background: #fff;
			border-radius: 5px;
			//box-shadow: 0px 0px 6px 1px #cccccc;
			filter: drop-shadow(0px 0px 3px #cccccc);
			&::before {
				position: absolute;
				bottom: 110px;
				left: -20px;
				display: block;
				border-top: 10px solid transparent;
				border-right: 10px solid #fff;
				border-bottom: 10px solid transparent;
				border-left: 10px solid transparent;
				content: "";
			}
			&.open {
				visibility: visible;
				opacity: 1;
			}
			&.fullscreen {
				width: 500px;
				height: 400px;
				//transform: translateY(-140px);
			}
			.fullscreen {
				display: block;
				position: absolute;
				top: 5px;
				right: 5px;
				width: 24px;
				height: 24px;
				background-image: url(./img/fullscreen.png);
				background-color: #fff;
				background-repeat: no-repeat;
				background-position: center;
				background-size: 24px;
				&.exit {
					background-image: url(./img/fullscreen_exit.png);
				}
			}
			.navigation_sub_scrollbody {
				width: 100%;
				height: 100%;
				padding: 6px 12px;
				overflow-y: scroll;
				-webkit-overflow-scrolling: touch;
				box-sizing: border-box;
			}
			.navigation_sub_body {
				.sub_list_item {
					&:not(:last-child) {
						border-bottom: 1px solid #ccc;
					}
					.sub_list_item_icon {
						display: flex;
						align-items: center;
						height: 40px;
						color: #333;
						font-size: 14px;
						text-decoration: none;
						padding-left: 32px;
						background-repeat: no-repeat;
						background-position: 0 center;
						background-size: auto 30px;
						$icon_list: community,photocon,photoalbum,gourmet,diary,iine,timeline;
						@each $icon in $icon_list {
							&.#{$icon} {
								background-image: url(./img/contents/#{$icon}.png);
							}
						}
					}
				}
			}
		}
	}
}
#container_main {
	display: flex;
	flex-direction: column;
	.container_main_header {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		height: 50px;
		border-bottom: 1px solid #ccc;
		.logo {
			margin: auto;
			.icon {
				display: block;
				width: 90px;
				height: 26px;
				background: url(./img/logo.png) no-repeat center / 90px 26px;
			}
		}
		.tool {
			display: flex;
			justify-content: space-between;
			width: 50px;
			margin-right: 15px;
			.item {
				.item_icon {
					display: block;
					width: 20px;
					height: 20px;
					background-repeat: no-repeat;
					background-position: center;
					background-size: 20px auto;
					&.footprint {
						background-image: url(./img/footprint.png);
					}
					&.notify {
						background-image: url(./img/notify.png);
					}
				}
			}
		}
	}
	.container_main_scrollbody {
		flex: 1;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
		.main_body {
			width: 663px;
			height: 2000px;
			background-color: #fff;
			padding-top: 24px;
			margin: 0 auto;
		}
	}
}

#search {
	.search_module_container {
		margin-bottom: 32px;
		.search_module_wrap_label {
			font-size: 18px;
		}
		.search_module_wrap {
			margin-top: 16px;
		}
	}
	.search_recommend {
		display: flex;
		justify-content: space-between;
		.item_square {
			flex-basis: 126px;
			display: flex;
			flex-direction: column;
			border-radius: 5px;
			overflow: hidden;
			filter: drop-shadow(0px 4px 2px rgba(#9b9b9b, .5));
			.prof_image {
				display: block;
				width: 126px;
				height: 126px;
				background: url(./img/mio_3.jpg) no-repeat center / 130px auto;
			}
			.btn_wrap {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 36px;
				background-color: #fff;
				.btn_show_profile {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 93%;
					height: 24px;
					color: #ff8e8d;
					font-size: 12px;
					text-decoration: none;
					border-radius: 12px;
					border: 1px solid #ff8e8d;
				}
			}
		}
	}
}