@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','HiraKakuProN-W3';
  color: #333;
}

strong, b {
  font-weight: bold;
}

#container_wrapper {
  width: 100vw;
  display: flex;
  background-color: #fff;
  box-sizing: border-box;
}

#container_wrapper #container_navigation {
  flex-basis: 80px;
  display: flex;
  justify-content: center;
  border-right: 1px solid #ccc;
}

#container_wrapper #container_main {
  flex: 1;
}

#container_navigation .container_navigation_body {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

#container_navigation .container_navigation_body .list_item {
  position: relative;
  padding: 15px 0;
}

#container_navigation .container_navigation_body .list_item .list_item_icon {
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px auto;
}

#container_navigation .container_navigation_body .list_item .list_item_icon.search {
  background-image: url(./img/search.png);
}

#container_navigation .container_navigation_body .list_item .list_item_icon.message {
  background-image: url(./img/message.png);
}

#container_navigation .container_navigation_body .list_item .list_item_icon.tsubuyaki {
  background-image: url(./img/tsubuyaki.png);
}

#container_navigation .container_navigation_body .list_item .list_item_icon.bbs {
  background-image: url(./img/bbs.png);
}

#container_navigation .container_navigation_body .list_item .list_item_icon.contents {
  background-image: url(./img/contents.png);
}

#container_navigation .container_navigation_body .list_item .list_item_icon.top {
  background-position: left center;
  background-size: auto 30px;
  background-image: url(./img/logo.png);
}

#container_navigation .container_navigation_body .list_item .list_item_icon.my {
  border-radius: 50%;
  background-image: url(./img/prof.png);
  background-size: 30px auto;
  overflow: hidden;
}

#container_navigation .container_navigation_body .navigation_sub {
  visibility: hidden;
  opacity: 0;
  transition: .2s;
  position: absolute;
  bottom: -90px;
  left: 80px;
  z-index: 99;
  width: 180px;
  height: 240px;
  background: #fff;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 3px #cccccc);
}

#container_navigation .container_navigation_body .navigation_sub::before {
  position: absolute;
  bottom: 110px;
  left: -20px;
  display: block;
  border-top: 10px solid transparent;
  border-right: 10px solid #fff;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  content: "";
}

#container_navigation .container_navigation_body .navigation_sub.open {
  visibility: visible;
  opacity: 1;
}

#container_navigation .container_navigation_body .navigation_sub.fullscreen {
  width: 500px;
  height: 400px;
}

#container_navigation .container_navigation_body .navigation_sub .fullscreen {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 24px;
  height: 24px;
  background-image: url(./img/fullscreen.png);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
}

#container_navigation .container_navigation_body .navigation_sub .fullscreen.exit {
  background-image: url(./img/fullscreen_exit.png);
}

#container_navigation .container_navigation_body .navigation_sub .navigation_sub_scrollbody {
  width: 100%;
  height: 100%;
  padding: 6px 12px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}

#container_navigation .container_navigation_body .navigation_sub .navigation_sub_body .sub_list_item:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

#container_navigation .container_navigation_body .navigation_sub .navigation_sub_body .sub_list_item .sub_list_item_icon {
  display: flex;
  align-items: center;
  height: 40px;
  color: #333;
  font-size: 14px;
  text-decoration: none;
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: auto 30px;
}

#container_navigation .container_navigation_body .navigation_sub .navigation_sub_body .sub_list_item .sub_list_item_icon.community {
  background-image: url(./img/contents/community.png);
}

#container_navigation .container_navigation_body .navigation_sub .navigation_sub_body .sub_list_item .sub_list_item_icon.photocon {
  background-image: url(./img/contents/photocon.png);
}

#container_navigation .container_navigation_body .navigation_sub .navigation_sub_body .sub_list_item .sub_list_item_icon.photoalbum {
  background-image: url(./img/contents/photoalbum.png);
}

#container_navigation .container_navigation_body .navigation_sub .navigation_sub_body .sub_list_item .sub_list_item_icon.gourmet {
  background-image: url(./img/contents/gourmet.png);
}

#container_navigation .container_navigation_body .navigation_sub .navigation_sub_body .sub_list_item .sub_list_item_icon.diary {
  background-image: url(./img/contents/diary.png);
}

#container_navigation .container_navigation_body .navigation_sub .navigation_sub_body .sub_list_item .sub_list_item_icon.iine {
  background-image: url(./img/contents/iine.png);
}

#container_navigation .container_navigation_body .navigation_sub .navigation_sub_body .sub_list_item .sub_list_item_icon.timeline {
  background-image: url(./img/contents/timeline.png);
}

#container_main {
  display: flex;
  flex-direction: column;
}

#container_main .container_main_header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  border-bottom: 1px solid #ccc;
}

#container_main .container_main_header .logo {
  margin: auto;
}

#container_main .container_main_header .logo .icon {
  display: block;
  width: 90px;
  height: 26px;
  background: url(./img/logo.png) no-repeat center/90px 26px;
}

#container_main .container_main_header .tool {
  display: flex;
  justify-content: space-between;
  width: 50px;
  margin-right: 15px;
}

#container_main .container_main_header .tool .item .item_icon {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px auto;
}

#container_main .container_main_header .tool .item .item_icon.footprint {
  background-image: url(./img/footprint.png);
}

#container_main .container_main_header .tool .item .item_icon.notify {
  background-image: url(./img/notify.png);
}

#container_main .container_main_scrollbody {
  flex: 1;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

#container_main .container_main_scrollbody .main_body {
  width: 663px;
  height: 2000px;
  background-color: #fff;
  padding-top: 24px;
  margin: 0 auto;
}

#search .search_module_container {
  margin-bottom: 32px;
}

#search .search_module_container .search_module_wrap_label {
  font-size: 18px;
}

#search .search_module_container .search_module_wrap {
  margin-top: 16px;
}

#search .search_recommend {
  display: flex;
  justify-content: space-between;
}

#search .search_recommend .item_square {
  flex-basis: 126px;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0px 4px 2px rgba(155, 155, 155, 0.5));
}

#search .search_recommend .item_square .prof_image {
  display: block;
  width: 126px;
  height: 126px;
  background: url(./img/mio_3.jpg) no-repeat center/126px auto;
  border-radius: 5px 5px 0 0;
}

#search .search_recommend .item_square .btn_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
}

#search .search_recommend .item_square .btn_wrap .btn_show_profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 93%;
  height: 24px;
  color: #ff8e8d;
  font-size: 12px;
  text-decoration: none;
  border-radius: 12px;
  border: 1px solid #ff8e8d;
}

#search .search_basic {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#search .search_basic .item_circle {
  flex-basis: 126px;
  display: flex;
  flex-direction: column;
  padding-bottom: 26px;
}

#search .search_basic .item_circle .prof_image {
  display: block;
  width: 126px;
  height: 126px;
  background: url(./img/mio_3.jpg) no-repeat center/126px auto;
  border-radius: 50%;
}

#search .search_basic .item_circle .status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 36px;
}

#search .search_basic .item_circle .status .primaly {
  font-size: 12px;
  font-weight: bold;
}

#search .search_basic .item_circle .status .secondaly {
  color: #999;
  font-size: 10px;
  margin-top: 6px;
}
