@import './node_modules/reset-css/sass/reset';

//グレー・黒
$baseFontColor: #333;
$baseFontColor_gray: #666;
$baseFontColor_warmgray: #9b9b9b;
$baseFontColor_lightgray: #7f7f7f;
$defaultBackgroundColor: #f3f3f3;
$defaultBorderColor: #e6e6e6;

//青
$baseColor_globalblue: #00aaed;
$baseColor_azure: #00a0c0;
$baseColor_azureTwo: #009cff;
$baseLinkColor_blue: #009cff;
$baseColor_tealish: #24b2ce;
$baseColor_darkSkyblue: #37b9f2;
$baseColor_skyblue: #82cee5;
$baseColor_lightblue: #42ace1;
$baseColor_turquoiseblue: #10afcf;

//ピンク・赤
$baseColor_peacypink: #ff8e8d;
$baseColor_pinkred: #ff0059;
$baseColor_notifer: #f55656;
$baseLinkColor_scarlet: #d0021b;

//オレンジ
$baseColor_mango: #ffad25;

//グリーン
$baseColor_turtlegreen: #83c44e;

body {
	font-family: 'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','HiraKakuProN-W3';
	color: #333;
}
strong,b {
	font-weight: bold;
}

#container_wrapper {
	width: 100vw;
	//height: 100vh;
	display: flex;
	background-color: #fff;
	box-sizing: border-box;
	#container_navigation {
		flex-basis: 80px;
		display: flex;
		justify-content: center;
		border-right: 1px solid #ccc;
	}
	#container_main {
		flex: 1;
	}
}

#container_navigation {
	$icon_list: search,message,tsubuyaki,bbs,contents;
	.container_navigation_body {
		display: flex;
		flex-direction: column;
		padding-top: 15px;
		.list_item {
			position: relative;
			padding: 15px 0;
			.list_item_icon {
				display: block;
				width: 30px;
				height: 30px;
				background-repeat: no-repeat;
				background-position: center;
				background-size: 26px auto;
				@each $icon in $icon_list {
					&.#{$icon} {
						background-image: url(./img/#{$icon}.png);
					}
				}
				&.top {
					background-position: left center;
					background-size: auto 30px;
					background-image: url(./img/logo.png);
				}
				&.my {
					border-radius: 50%;
					background-image: url(./img/prof.png);
					background-size: 30px auto;
					overflow: hidden;
				}
			}
		}
		.navigation_sub {
			visibility: hidden;
			opacity: 0;
			transition: .2s;
			position: absolute;
			//top: -90px;
			bottom: -90px;
			left: 80px;
			z-index: 99;
			width: 180px;
			height: 240px;
			background: #fff;
			border-radius: 5px;
			//box-shadow: 0px 0px 6px 1px #cccccc;
			filter: drop-shadow(0px 0px 3px #cccccc);
			&::before {
				position: absolute;
				bottom: 110px;
				left: -20px;
				display: block;
				border-top: 10px solid transparent;
				border-right: 10px solid #fff;
				border-bottom: 10px solid transparent;
				border-left: 10px solid transparent;
				content: "";
			}
			&.open {
				visibility: visible;
				opacity: 1;
			}
			&.is_fullscreen {
				width: 500px;
				height: 400px;
				//transform: translateY(-140px);
			}
			.on_fullscreen {
				display: block;
				position: absolute;
				top: 5px;
				right: 5px;
				width: 24px;
				height: 24px;
				background-image: url(./img/fullscreen.png);
				background-color: #fff;
				background-repeat: no-repeat;
				background-position: center;
				background-size: 24px;
				&.exit {
					background-image: url(./img/fullscreen_exit.png);
				}
			}
			.navigation_sub_scrollbody {
				width: 100%;
				height: 100%;
				padding: 6px 12px;
				overflow-y: scroll;
				-webkit-overflow-scrolling: touch;
				box-sizing: border-box;
			}
			.navigation_sub_body {
				.sub_list_item {
					&:not(:last-child) {
						border-bottom: 1px solid #ccc;
					}
					.sub_list_item_icon {
						display: flex;
						align-items: center;
						height: 40px;
						color: #333;
						font-size: 14px;
						text-decoration: none;
						padding-left: 32px;
						background-repeat: no-repeat;
						background-position: 0 center;
						background-size: auto 30px;
						$icon_list: community,photocon,photoalbum,gourmet,diary,iine,timeline;
						@each $icon in $icon_list {
							&.#{$icon} {
								background-image: url(./img/contents/#{$icon}.png);
							}
						}
					}
				}
			}
		}
	}
}
#container_main {
	display: flex;
	flex-direction: column;
	.container_main_header {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		height: 50px;
		border-bottom: 1px solid #ccc;
		.logo {
			margin: auto;
			.icon {
				display: block;
				width: 90px;
				height: 26px;
				background: url(./img/logo.png) no-repeat center / 90px 26px;
			}
		}
		.tool {
			display: flex;
			justify-content: space-between;
			width: 50px;
			margin-right: 15px;
			.item {
				.item_icon {
					display: block;
					width: 20px;
					height: 20px;
					background-repeat: no-repeat;
					background-position: center;
					background-size: 20px auto;
					&.footprint {
						background-image: url(./img/footprint.png);
					}
					&.notify {
						background-image: url(./img/notify.png);
					}
				}
			}
		}
	}
	.container_main_scrollbody {
		flex: 1;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
		.main_body {
			width: 663px;
			height: 2000px;
			background-color: #fff;
			padding-top: 24px;
			margin: 0 auto;
		}
	}
}

#search {
	.search_module_container {
		margin-bottom: 32px;
		.search_module_wrap_label {
			font-size: 18px;
		}
		.search_module_wrap {
			margin-top: 16px;
		}
	}
	.search_recommend {
		display: flex;
		justify-content: space-between;
		.item_square {
			flex-basis: 126px;
			display: flex;
			flex-direction: column;
			//border-radius: 5px;
			//overflow: hidden;
			filter: drop-shadow(0px 4px 2px rgba(#9b9b9b, .5));
			.prof_image {
				display: block;
				width: 126px;
				height: 126px;
				background: url(./img/mio_3.jpg) no-repeat center / 126px auto;
				border-radius: 5px 5px 0 0;
			}
			.btn_wrap {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 36px;
				background-color: #fff;
				border-radius: 0 0 5px 5px;
				.btn_show_profile {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 93%;
					height: 24px;
					color: #ff8e8d;
					font-size: 12px;
					text-decoration: none;
					border-radius: 12px;
					border: 1px solid #ff8e8d;
				}
			}
		}
	}
	.search_basic {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.item_circle {
			flex-basis: 126px;
			display: flex;
			flex-direction: column;
			padding-bottom: 26px;
			.prof_image {
				display: block;
				width: 126px;
				height: 126px;
				background: url(./img/mio_3.jpg) no-repeat center / 126px auto;
				border-radius: 50%;
			}
			.status {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-end;
				height: 36px;
				.primaly {
					font-size: 12px;
					font-weight: bold;
				}
				.secondaly {
					color: #999;
					font-size: 10px;
					margin-top: 6px;
				}
			}
		}
		.recent_entry_container {
			flex-basis: 100%;
			padding: 16px 20px;
			border-radius: 8px;
			background-color: #fff;
			filter: drop-shadow(0px 2px 6px rgba(#9b9b9b, .5));
			margin: 6px 0 32px;
			.recent_entry_label {
				font-size: 18px;
			}
			.recent_entry_wrap {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				margin-top: 12px;
				.item_circle_s {
					flex-basis: 80px;
					text-align: center;
					.prof_image {
						display: block;
						width: 84px;
						height: 84px;
						background: url(./img/mio_3.jpg) no-repeat center / 84px auto;
						border-radius: 50%;
					}
					.status {
						font-size: 12px;
						font-weight: bold;
						margin-top: 4px;
					}
				}
			}
		}
	}
	
}

#message {
	position: relative;
	overflow-x: hidden;
	.message_header_nav .nav_list_wrap {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		height: 32px;
		border-bottom: 1px solid #ccc;
		.nav_list_item {
			flex-basis: 211px;
			//transform: translateY(1px);
			.nav_list_link {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 30px;
				color: $baseFontColor_warmgray;
				font-size: 14px;
				font-weight: bold;
				text-decoration: none;
				&.on,
				&:hover {
					color: $baseColor_peacypink;
					border-bottom: 2px solid $baseColor_peacypink;
				}
			}
		}
	}
	.message_header_tab {
		padding: 16px 0;
		.tab_list_wrap {
			display: flex;
			align-items: stretch;
			justify-content: space-between;
			height: 26px;
			.tab_list_item {
				flex-basis: 211px;
				.tab_list_link {
					display: flex;
					align-items: center;
					justify-content: center;
					height: 100%;
					color: $baseColor_tealish;
					font-size: 14px;
					font-weight: bold;
					text-decoration: none;
					&.on,
					&:hover {
						color: #fff;
						background-color: $baseColor_tealish;
						border-radius: 5px;
					}
				}
			}
		}
	}
	.message_message_list {
		//position: relative;
		.message_list_wrap {
			display: flex;
			flex-direction: column;
			align-items: stretch;
			.message_list_link {
				display: flex;
				color: $baseFontColor_gray;
				text-decoration: none;
				border-bottom: 1px solid #ccc;
				padding: 12px 0;
				.thumb {
					flex-basis: 77px;
					.thumb_icon {
						display: block;
						width: 77px;
						height: 77px;
						background: url(./img/mio_3.jpg) no-repeat center / 77px auto;
						border-radius: 50%;
					}
				}
				.body {
					flex: 1;
					display: flex;
					flex-direction: column;
					align-items: stretch;
					padding-left: 12px;
					.name_wrap {
						display: flex;
						align-items: center;
						justify-content: space-between;
						.name {
							font-size: 14px;
						}
						time {
							color: $baseFontColor_warmgray;
							font-size: 12px;
						}
					}
					.message_status {
						flex: 1;
						display: flex;
						align-items: center;
						p {
							color: $baseFontColor_lightgray;
							font-size: 13px;
						}
					}
				}
			}
		}
	}
	.slidein_container {
		position: absolute;
		top: 0;
		left: 0;
		width: 663px;
		height: 500px;
		transform: translateX(663px);
		transition: .2s;
		&.slidein {
			transform: translateX(0);
		}
	}
	.message_history_container {
		.history_header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 42px;
			padding: 0 12px;
			background-color: #4fc3f7;
			.back {
				display: block;
				width: 24px;
				height: 24px;
				background: url(./img/arrow_back.png) no-repeat center / 24px;
			}
			.name {
				display: flex;
				align-items: center;
				margin: auto;
				.thumb_icon {
					display: inline-block;
					width: 24px;
					height: 24px;
					background: url(./img/mio_3.jpg) no-repeat center / 24px auto;
					border-radius: 50%;
					margin-right: 6px;
				}
				> strong {
					color: #fff;
					font-size: 16px;
				}
			}
		}
		.history_wrap {
			display: flex;
			flex-direction: column;
			background-color: #eee;
			padding: 20px 12px 30px;
			.send_item {
				align-self: flex-end;
				display: flex;
				flex-direction: row-reverse;
				margin-top: 16px;
				.massage_body {
					max-width: 440px;
					background-color: $baseLinkColor_blue;
					border-radius: 16px 0 16px 16px;
					> p {
						color: #fff;
						font-size: 13px;
						line-height: 1.6;
						padding: 12px;
					}
				}
				.receive_at {
					align-self: flex-end;
					margin-right: 6px;
					> time {
						color: $baseFontColor_warmgray;
						font-size: 10px;
					}
				}
			}
			.receive_item {
				align-self: flex-start;
				display: flex;
				.thumb {
					flex-basis: 60px;
					.thumb_icon {
						display: block;
						width: 60px;
						height: 60px;
						background: url(./img/mio_3.jpg) no-repeat center / 60px auto;
						border-radius: 50%;
					}
				}
				.massage_body {
					max-width: 440px;
					margin-top: 16px;
					margin-left: 12px;
					background-color: #fff;
					border-radius: 0 16px 16px 16px;
					> p {
						font-size: 13px;
						line-height: 1.6;
						padding: 12px;
					}
				}
				.receive_at {
					align-self: flex-end;
					margin-left: 6px;
					> time {
						color: $baseFontColor_warmgray;
						font-size: 10px;
					}
				}
			}
		}
	}
}