@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Helvetica,Arial,"Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3",Meiryo,メイリオ,sans-serif;
  color: #696a6c;
  font-size: 14px;
  line-height: 1.3;
}

h1, h2, h3, h4, h5, h6, strong, b {
  font-weight: bold;
}

a {
  text-decoration: none;
}

.hidden_pc {
  display: none;
}

.free_entry_btn {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 420px;
  height: 80px;
  color: #fff;
  font-size: 30px;
  background-color: #00d482;
  border-radius: 40px;
  -webkit-filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
  margin: 0 auto;
}

#glb-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 1196px;
  height: 70px;
  padding: 0 5px;
  margin: 0 auto;
  box-sizing: border-box;
}

#glb-header .glb-header_logo_headline .glb-header_logo {
  width: 87px;
  height: auto;
}

#glb-header .glb-header_nav_wrap {
  -webkit-box-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

#glb-header .glb-header_nav_wrap .glb-header_nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

#glb-header .glb-header_nav_wrap .glb-header_nav .glb-header_nav_list {
  padding-right: 28px;
}

#glb-header .glb-header_nav_wrap .glb-header_nav .glb-header_nav_list .glb-header_nav_list_link {
  color: inherit;
}

#glb-header .glb-header_nav_wrap .glb-header_nav .glb-header_nav_list .glb-header_nav_list_link:hover {
  color: #00aaed;
}

#glb-header .glb-header_login {
  padding-left: 18px;
}

#glb-header .glb-header_login .glb-header_nav_login_btn {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  height: 36px;
  color: #00aaed;
  padding: 0 16px;
  border-radius: 18px;
  border: 1px solid #00aaed;
  box-sizing: border-box;
}

#glb-header .glb-header_login .glb-header_nav_login_btn:hover {
  color: #fff;
  background-color: #00aaed;
}

#top-hero_header {
  position: relative;
  height: 700px;
}

#top-hero_header .top-hero_header_main {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 700px;
}

#top-hero_header .top-hero_header_btn_wrapper {
  position: absolute;
  top: 530px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#top-hero_header .top-hero_header_btn_wrapper .top-hero_header_age_verification {
  color: #333;
  margin-top: 6px;
  text-align: center;
}

#top-hero_header .top-hero_header_btn_wrapper .top-hero_header_app {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 240px;
  height: 32px;
  margin: 16px auto 0;
}

#top-hero_header .top-hero_header_btn_wrapper .top-hero_header_app .top-hero_header_app_btn {
  display: block;
  width: 114px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 114px 32px;
}

#top-hero_header .top-hero_header_btn_wrapper .top-hero_header_app .top-hero_header_app_btn.is_apple {
  background-image: url(../img/btn_app_store.png);
}

#top-hero_header .top-hero_header_btn_wrapper .top-hero_header_app .top-hero_header_app_btn.is_google {
  background-image: url(../img/btn_google_play.png);
}

#top-information_container .top-information_label {
  color: #333;
  font-size: 30px;
  font-weight: normal;
  padding: 100px 0;
  text-align: center;
}

#top-information_container .top-information_band_wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
          align-items: stretch;
  height: 250px;
  background-color: #4fc3f7;
}

#top-information_container .top-information_band_wrapper .top-information_band_item {
  width: 223px;
  color: #fff;
  font-size: 22px;
  padding-top: 145px;
  background-repeat: no-repeat;
  background-position: center 33px;
  background-size: 84px;
  text-align: center;
  border-right: 2px solid #fff;
}

#top-information_container .top-information_band_wrapper .top-information_band_item:first-child {
  border-left: 2px solid #fff;
}

#top-information_container .top-information_band_wrapper .top-information_band_item.cafe {
  background-image: url(../img/icon_band_cafe.png);
}

#top-information_container .top-information_band_wrapper .top-information_band_item.lover {
  background-image: url(../img/icon_band_lover.png);
}

#top-information_container .top-information_band_wrapper .top-information_band_item.friend {
  background-image: url(../img/icon_band_friend.png);
}

#top-information_container .top-information_band_wrapper .top-information_band_item.talk {
  background-image: url(../img/icon_band_talk.png);
}

#top-reason_container {
  width: 900px;
  margin: 0 auto;
}

#top-reason_container .top-reason_label {
  padding: 100px 0;
  text-align: center;
}

#top-reason_container .top-reason_label .top-reason_label_image {
  width: 425px;
  height: 155px;
}

#top-reason_container .top-reason_content {
  position: relative;
  z-index: 0;
  height: 410px;
  padding-top: 45px;
  padding-left: 360px;
}

#top-reason_container .top-reason_content .top-reason_content_image_wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#top-reason_container .top-reason_content .top-reason_content_image_wrap .top-reason_content_image {
  width: 452px;
  height: auto;
}

#top-reason_container .top-reason_content .top-reason_content_label {
  color: #fe9a9a;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 20px;
}

#top-reason_container .top-reason_content .top-reason_content_p {
  font-size: 19px;
  line-height: 2;
}

#top-reason_container .top-reason_content .top-reason_content_p .sup {
  display: block;
  font-size: 12px;
  text-align: right;
}

#top-middle_free_entry_btn_wrap {
  text-align: center;
  padding-bottom: 120px;
}

#top-safety_system_container {
  padding: 80px 0;
  background-color: rgba(0, 170, 237, 0.1);
}

#top-safety_system_container .top-safety_system_label {
  position: relative;
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 100px;
  text-align: center;
}

#top-safety_system_container .top-safety_system_label::after {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  display: block;
  width: 45px;
  height: 45px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url(../img/label_safety.png) no-repeat center bottom;
}

#top-safety_system_container .top-safety_system_content {
  display: grid;
  grid-template-columns: 240px 240px;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  gap: 0px 120px;
  -webkit-box-pack: center;
          justify-content: center;
}

#top-safety_system_container .top-safety_system_content .top-safety_system_content_label {
  color: #00aaed;
  font-size: 26px;
  line-height: 1.4;
  text-align: center;
}

#top-safety_system_container .top-safety_system_content .top-safety_system_content_label > strong {
  font-weight: 500;
}

#top-safety_system_container .top-safety_system_content .top-safety_system_content_text {
  font-size: 18px;
  margin-top: 30px;
  text-align: center;
}

#top-recomment_app_container {
  background-color: #4fc3f7;
  margin-bottom: 100px;
}

#top-recomment_app_container .top-recomment_app_wrapper {
  width: 750px;
  height: 364px;
  background: url(../img/app_device_img.png) no-repeat left bottom;
  padding: 85px 0 0 275px;
  margin: 0 auto;
  box-sizing: border-box;
}

#top-recomment_app_container .top-recomment_app_btn_content {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 42px;
  gap: 0px 25px;
  margin: 40px 0;
}

#top-recomment_app_container .top-recomment_app_p {
  color: #fff;
  font-size: 20px;
}

#top-recomment_app_container .top-recomment_app_p strong {
  font-weight: 500;
}

#top-prefecture_matching_container {
  border: solid #e6e6e6;
  border-width: 1px 0;
  padding: 100px 0;
}

#top-prefecture_matching_container .top-prefecture_matching_label {
  position: relative;
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 130px;
  text-align: center;
}

#top-prefecture_matching_container .top-prefecture_matching_label::after {
  content: "";
  position: absolute;
  bottom: 45px;
  left: 50%;
  display: block;
  width: 45px;
  height: 45px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url(../img/label_prefecture.png) no-repeat center bottom;
}

#top-prefecture_matching_container .top-prefecture_matching_content {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px 25px;
  width: 660px;
  font-size: 16px;
  margin: 0 auto;
}

#top-prefecture_matching_container .top-prefecture_matching_content .top-prefecture_matching_region {
  font-weight: 600;
}

#top-prefecture_matching_container .top-prefecture_matching_content .top-prefecture_matching_region_pref_content {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

#top-prefecture_matching_container .top-prefecture_matching_content .top-prefecture_matching_region_pref_content > li:not(:last-child) {
  padding-right: 15px;
}

#top-prefecture_matching_container .top-prefecture_matching_content .top-prefecture_matching_region_pref_content > li > a {
  color: #009cff;
  text-decoration: underline;
}

#top-prefecture_matching_container .top-prefecture_matching_content .top-prefecture_matching_region_pref_content > li > a:hover {
  text-decoration: none;
}

#glb-footer {
  padding: 100px 0 50px;
  background: url(../img/logo.png) no-repeat center top 40px/120px auto;
}

#glb-footer .glb-footer_notice {
  font-size: 13px;
  text-align: center;
}

#glb-footer .glb-footer_document_container {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
  width: 660px;
  margin: 0 auto;
  padding-top: 30px;
}

#glb-footer .glb-footer_document_container .glb-footer_document_cell:nth-child(n+3) {
  margin-top: 15px;
}

#glb-footer .glb-footer_document_container .glb-footer_document_content {
  display: -webkit-box;
  display: flex;
}

#glb-footer .glb-footer_document_container .glb-footer_document_content .glb-footer_document_list {
  padding: 0 8px;
}

#glb-footer .glb-footer_document_container .glb-footer_document_content .glb-footer_document_list .glb-footer_document_list_link {
  color: inherit;
}

#glb-footer .glb-footer_document_container .glb-footer_document_content .glb-footer_document_list .glb-footer_document_list_link:hover {
  color: #00aaed;
}

#glb-footer .copyright {
  font-size: 12px;
  text-align: center;
  margin-top: 30px;
}
