@import './node_modules/reset-css/sass/reset';

$baseFontColor: #696a6c;
$baseFontColor_chacole: #333;
$baseFontColor_gray: #666;
$baseFontColor_warmgray: #9b9b9b;
$baseFontColor_lightgray: #7f7f7f;
$defaultBorderColor: #e6e6e6;
$baseColor_globalblue: #00aaed;
$baseColor_darkSkyblue: #37b9f2;
$baseColor_skyblue: #82cee5;
$baseColor_turquoiseblue: #10afcf;
$baseLinkColor_blue: #009cff;

body {
  font-family: Helvetica,Arial,"Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3",Meiryo,メイリオ,sans-serif;
  color: $baseFontColor;
  font-size: 14px;
  line-height: 1.3;
}
h1,h2,h3,h4,h5,h6,strong,b {
  font-weight: bold;
}
a {
  text-decoration: none;
}
.hidden_lite {
  display: none;
}
.free_entry_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  color: #fff;
  font-size: 21px;
  font-weight: 600;
  background-color: #00d482;
  border-radius: 24px;
  filter: drop-shadow(0px 2px 2px rgba(0,0,0,.3));
}

#glb-header {
  display: grid;
  grid-template-rows: 44px 40px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "logo login"
    "nav  nav";
  .glb-header_logo_headline {
    grid-area: logo;
    display: flex;
    align-items: center;
    padding-left: 12px;
    .glb-header_logo {
      width: 80px;
      height: auto;
    }
  }
  .glb-header_nav_wrap {
    grid-area: nav;
    .glb-header_nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      padding: 0 12px;
      border: solid $defaultBorderColor;
      border-width: 1px 0;
      box-sizing: border-box;
      .glb-header_nav_list {
        flex-shrink: 0;
        .glb-header_nav_list_link {
          color: #696a6c;
        }
      }
    }
  }
  .glb-header_login {
    grid-area: login;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 12px;
    .glb-header_nav_login_btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 28px;
      color: #00aaed;
      font-size: 12px;
      padding: 0 12px;
      border-radius: 14px;
      border: 1px solid #00aaed;
      box-sizing: border-box;
      &:active {
        color: #fff;
        background-color: #00aaed;
      }
    }
  }
}

#top-hero_header {
  position: relative;
  overflow-x: hidden;
  height: 360px;
  .top-hero_header_main {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 360px;
  }
  .top-hero_header_btn_wrapper {
    position: absolute;
    top: 280px;
    left: 0;
    width: 100%;
    .top-hero_header_free_entry {
      padding: 0 18px;
    }
    .top-hero_header_age_verification {
      color: #333;
      font-size: 13px;
      margin-top: 6px;
      text-align: center;
    }
    .top-hero_header_app {
      visibility: hidden;
    }
  }
}
#top-information_container {
  .top-information_label {
    display: flex;
    align-items: center;
    height: 100px;
    color: #696a6c;
    font-weight: 600;
    font-size: 20px;
    padding-left: 20px;
  }
  .top-information_band_wrapper {
    display: grid;
    grid-template-rows: 120px 120px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "cafe lover"
      "friend  talk";
    gap: 2px;
    .top-information_band_item {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      color: #fff;
      font-weight: 600;
      background-repeat: no-repeat;
      background-position: center 16px;
      background-size: 48px;
      background-color: #4fc3f7;
      padding-bottom: 12px;
      text-align: center;
      &.cafe {
        grid-area: cafe;
        background-image: url(../img/icon_band_cafe.png)
      }
      &.lover {
        grid-area: lover;
        background-image: url(../img/icon_band_lover.png)
      }
      &.friend {
        grid-area: friend;
        background-image: url(../img/icon_band_friend.png)
      }
      &.talk {
        grid-area: talk;
        background-image: url(../img/icon_band_talk.png)
      }
    }
  }
}
#top-reason_container {
  padding-bottom: 20px;
  .top-reason_label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    .top-reason_label_image {
      width: 232px;
      height: auto;
    }
  }
  .top-reason_content {
    padding: 0 30px 50px;
    .top-reason_content_label {
      color: $baseColor_globalblue;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
    }
    .top-reason_content_image_wrap {
      padding: 12px 0;
      text-align: center;
      .top-reason_content_image {
        height: 140px;
      }
    }
    .top-reason_content_p {
      line-height: 1.5;
      .sup {
        display: block;
        font-size: 12px;
        text-align: right;
      }
    }
  }
}
#top-middle_free_entry_btn_wrap {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 74px;
  transition: .5s;
  visibility: hidden;
  opacity: 0;
  &.appear {
    visibility: visible;
    opacity: 1;
  }
  .fixed_free_btn {
    height: 100%;
    border-radius: 0;
    filter: none;
  }
}

#top-safety_system_container {
  padding: 66px 20px 50px;
  background-color: rgba($baseColor_globalblue, .1);
  .top-safety_system_label {
    color: $baseColor_globalblue;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 24px;
    border-bottom: 1px solid $defaultBorderColor;
    margin-bottom: 24px;
  }
  .top-safety_system_content {
    .top-safety_system_content_label {
      color: $baseColor_globalblue;
      font-size: 16px;
      font-weight: 600;
    }
    .top-safety_system_content_text {
      font-size: 13px;
      padding: 8px 0 16px;
      &::before {
        content: "・";
        color: $baseColor_globalblue;
      }
    }
  }
}

#top-recomment_app_container {
  background-color: #4fc3f7;
  background-image: 
    url(../img/app_device_img.png),
    url(../img/app_device_img.png);
  background-repeat: no-repeat;
  background-position:
    left -65px bottom -65px,
    right -65px bottom -65px;
  background-size: 130px auto;
  .top-recomment_app_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 30px;
    .top-recomment_app_label {
      transform: translateX(-10px);
    }
    .top-recomment_app_btn_content {
      display: grid;
      grid-template-columns: 140px 140px;
      gap: 0px 12px;
      margin: 20px 0;
    }
    .top-recomment_app_p {
      color: #fff;
      line-height: 1.6;
      text-align: center;
    }
  }
}

#top-prefecture_matching_container {
  padding-bottom: 50px;
  .top-prefecture_matching_label {
    display: flex;
    align-items: center;
    height: 100px;
    font-size: 24px;
    font-weight: 600;
    padding-left: 20px;
  }
  .top-prefecture_matching_content {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 12px;
    padding: 0 20px;
    .top-prefecture_matching_region {
      font-weight: 600;
    }
    .top-prefecture_matching_region_pref_content {
      display: flex;
      flex-wrap: wrap;
      > li {
        &:last-child {
          padding-bottom: 5px;
        }
        &:not(:last-child) {
          padding: 0 5px 5px 0;
        }
        > a {
          color: $baseLinkColor_blue;
          text-decoration: underline;
        }
      }
    }
  }
}

sub {
  display: block;
  border-bottom: 1px solid $defaultBorderColor;
}

#glb-footer {
  background:
    url(../img/logo.png)
    no-repeat left 20px top 60px / 80px 23px;
  padding: 100px 20px 94px;
  .glb-footer_notice {
    font-size: 12px;
  }
  .glb-footer_document_container {
    padding: 20px 0;
    .glb-footer_document_content {
      display: flex;
      padding: 4px 0;
      .glb-footer_document_list {
        &:first-child {
          padding-right: 10px;
        }
        &:not(:first-child) {
          padding: 0 10px;
          border-left: 1px solid $baseFontColor_chacole;
        }
        .glb-footer_document_list_link {
          color: $baseFontColor_chacole;
          font-size: 13px;
        }
      }
    }
  }
}

/*
#glb-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1196px;
  height: 70px;
  padding: 0 5px;
  margin: 0 auto;
  box-sizing: border-box;
  .glb-header_logo_headline {
    .glb-header_logo {
      width: 62px;
      height: auto;
    }
  }
  .glb-header_nav {
    display: flex;
    align-items: center;
    .glb-header_nav_list {
      padding-right: 28px;
      .glb-header_nav_list_link {
        color: inherit;
        &:hover {
          color: #00aaed;
        }
      }
    }
    .glb-header_nav_login {
      padding-left: 18px;
      .glb-header_nav_login_btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 36px;
        color: #00aaed;
        padding: 0 16px;
        border-radius: 18px;
        border: 1px solid #00aaed;
        box-sizing: border-box;
        &:hover {
          color: #fff;
          background-color: #00aaed;
        }
      }
    }
  }
}
main {
  border-bottom: 1px solid #00aaed;
}
#top-hero_header {
  position: relative;
  height: 700px;
  .top-hero_header_main {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 700px;
  }
  .top-hero_header_btn_wrapper {
    position: absolute;
    top: 530px;
    left: 50%;
    transform: translateX(-50%);
    .top-hero_header_free_entry_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 420px;
      height: 80px;
      color: #fff;
      font-size: 30px;
      background-color: #00d482;
      border-radius: 40px;
    }
    .top-hero_header_app {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 240px;
      height: 32px;
      margin: 24px auto 0;
      .top-hero_header_app_btn {
        display: block;
        width: 114px;
        height: 32px;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 114px 32px;
        &.is_apple {
          background-image: url(../img/btn_app_store.png);
        }
        &.is_google {
          background-image: url(../img/btn_google_play.png);
        }
      }
    }
  }
}
#top-information_container {
  .top-information_label {
    color: #333;
    font-size: 30px;
    font-weight: normal;
    padding: 100px 0;
    text-align: center;
  }
  .top-information_band_wrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 250px;
    background-color: #4fc3f7;
    .top-information_band_item {
      width: 223px;
      color: #fff;
      font-size: 22px;
      padding-top: 145px;
      background-repeat: no-repeat;
      background-position: center 33px;
      background-size: 84px;
      text-align: center;
      border-right: 2px solid #fff;
      &:first-child {
        border-left: 2px solid #fff;
      }
      &.cafe {
        background-image: url(../img/icon_band_cafe.png)
      }
      &.lover {
        background-image: url(../img/icon_band_lover.png)
      }
      &.friend {
        background-image: url(../img/icon_band_friend.png)
      }
      &.talk {
        background-image: url(../img/icon_band_talk.png)
      }
    }
  }
}
#top-reason_container {
  width: 900px;
  margin: 0 auto;
  .top-reason_label {
    padding: 100px 0;
    text-align: center;
  }
  .top-reason_child {
    height: 410px;
    padding-top: 45px;
    padding-left: 360px;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 452px 409px;
    box-sizing: border-box;
    .top-reason_child_label {
      color: #fe9a9a;
      font-size: 26px;
      font-weight: 500;
      margin-bottom: 20px;
    }
    .top-reason_child_p {
      font-size: 18px;
      line-height: 2;
      .sup {
        font-size: 14px;
      }
    }
    &.case_01 {
      background-image: url(../img/img_reason_01.png)
    }
    &.case_02 {
      background-image: url(../img/img_reason_02.png)
    }
    &.case_03 {
      background-image: url(../img/img_reason_03.png)
    }
  }
}
*/