@import 'function';

//グレー・黒
$baseFontColor: #333;
$baseFontColor_gray: #666;
$baseFontColor_warmgray: #9b9b9b;
$baseFontColor_lightgray: #7f7f7f;
$defaultBackgroundColor: #f3f3f3;
$defaultBorderColor: #e6e6e6;

//青
$baseColor_globalblue: #00aaed;
$baseColor_azure: #00a0c0;
$baseColor_azureTwo: #009cff;
$baseLinkColor_blue: #009cff;
$baseColor_tealish: #24b2ce;
$baseColor_darkSkyblue: #37b9f2;
$baseColor_skyblue: #82cee5;
$baseColor_lightblue: #42ace1;
$baseColor_turquoiseblue: #10afcf;

//ピンク・赤
$baseColor_peacypink: #ff8e8d;
$baseColor_pinkred: #ff0059;
$baseColor_notifer: #f55656;
$baseLinkColor_scarlet: #d0021b;

//オレンジ
$baseColor_mango: #ffad25;

//グリーン
$baseColor_turtlegreen: #83c44e;

//ダークモードを見越して書いてみる
:root {
	--base-color-white: #fff;
	--base-background-gray: #f3f3f3;
	--base-color-gray: #666;
	--base-color-lightgray: #7f7f7f;
	--base-color-warmgray: #9b9b9b;
	--baes-border-color: #e6e6e6;
}

@mixin font_hiragino_w3 {
	font-family: "ヒラギノ角ゴ ProN W3","HiraKakuProN-W3","ヒラギノ角ゴ Pro W3","HiraKakuPro-W3";
}
@mixin font_hiragino_w6 {
	font-family: "ヒラギノ角ゴ ProN W6","HiraKakuProN-W6","ヒラギノ角ゴ Pro W6","HiraKakuPro-W6";
}

@mixin base_button_style($backgroundColor,$fontColor:#fff, $fontSize:14, $width:100%, $height:50,$shadow:use) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $width;
  height: #{$height}px;
  height: vw($height);
  color: $fontColor;
  font-size: calc(#{$fontSize}rem / 10);
  font-size: vw($fontSize);
  font-weight: bold;
  border-radius: calc( #{$height}px / 2 );
  background-color: $backgroundColor;
  @if $shadow == use {
    box-shadow: 0px -2px 0px 2px darken($backgroundColor, 5%) inset;
  }
  margin: 0 auto;
  border: none;
}

*.mdl_button-green,
a.mdl_button-green,
input[type="button"].mdl_button-green,
input[type="submit"].mdl_button-green {
  @include base_button_style(#26c281);
}

body#ranking {
	//font-family: "ヒラギノ角ゴ ProN W3","HiraKakuProN-W3","ヒラギノ角ゴ Pro W3","HiraKakuPro-W3" !important;
	font-size: vw(14);
}

.ranking-main_container {
	padding: vw(24) vw(16) 0;
	&.is_bg_white {
		background-color: var(--base-color-white);
	}
}

.set-bg_basic {
	background-color: var(--base-color-white);
}
.mdl-tab_navigation {
	overflow-x: scroll;
}
.mdl-tab_navigation .tab_navigation {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	height: vw(40);
	padding: 0 vw(16);
	background-color: var(--base-color-white);
	.tab_item {
		flex-basis: calc(100% / 3 - #{vw(10)});
		.tab_item_link {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			color: var(--base-color-warmgray);
			font-weight: bold;
			border-bottom: 3px solid var(--base-color-white);
			box-sizing: border-box;
			&.on {
				color: $baseColor_peacypink;
				border-bottom: 3px solid $baseColor_peacypink;
			}
		}
	}
}

.ranking-mdl_sort_list {
	position: absolute;
	top: vw(22);
	right: 0;
	z-index: 99;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: vw(200);
	border-radius: 4px;
	background-color: var(--base-color-white);
	filter: drop-shadow(0px 0px 6px rgba(#9b9b9b, .5));
	transition: .2s;
	.list_item {
		&:not(:last-child) {
			border-bottom: 1px solid var(--baes-border-color);
		}
	}
	.list_item_link {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		height: vw(50);
		font-size: vw(12);
		padding-left: vw(16);
	}
}
.ranking-mdl_more_link {
	display: inline-flex;
	align-items: center;
	height: vw(24);
	color: inherit;
	font-size: vw(12);
	font-weight: bold;
	padding-right: vw(24);
	background: url(../img/arrow_right.png) no-repeat right center / vw(24);
}
.ranking-mdl_more_link_list {
	color: var(--base-color-gray);
	font-size: vw(12);
	font-weight: bold;
	padding-right: vw(16);
	background: url(../img/arrow_right.png) no-repeat right center / vw(12);
}

@mixin card_list_large {
	display: flex;
	flex-direction: column;
	width: vw(166);
	border-radius: 4px;
	overflow: hidden;
	filter: drop-shadow(0px 1px 3px rgba(#9b9b9b, .5));
	margin-top: vw(8);
	.photo {
		width: 100%;
		height: vw(166);
		background-repeat: no-repeat;
		background-position: center top;
		background-size: vw(166) auto;
	}
	.status {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		height: vw(60);
		padding: vw(10);
		box-sizing: border-box;
		background-color: var(--base-color-white);
		.name {
			font-size: vw(14);
			line-height: 1;
		}
		.action {
			display: flex;
			align-items: center;
			margin-top: vw(7);
			.votes {
				font-size: vw(12);
			}
			.heart {
				display: inline-block;
				width: vw(20);
				height: vw(20);
				background-repeat: no-repeat;
				background-position: center;
				background-size: vw(20);
				margin-right: vw(8);
				&.done {
					background-image: url(../img/icon_heart_on.png);
				}
			}
		}
	}
}
@mixin card_list_small {
	display: flex;
	flex-direction: column;
	width: vw(110);
	border-radius: 2px;
	overflow: hidden;
	filter: drop-shadow(0px 1px 1px rgba(#9b9b9b, .5));
	margin-top: vw(6);
	.photo {
		width: 100%;
		height: vw(110);
		background-repeat: no-repeat;
		background-position: center top;
		background-size: vw(110) auto;
	}
	.status {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		height: vw(28);
		padding: 0 vw(6);
		box-sizing: border-box;
		background-color: var(--base-color-white);
	}
}

@mixin comment_list_item {
	display: flex;
	align-items: flex-start;
	padding: vw(12) 0;
	&.has_border:not(:last-child) {
		border-bottom: 1px solid var(--baes-border-color);
	}
	.thumb {
		flex-basis: vw(30);
	}
	.body {
		flex: 1;
		padding-left: vw(8);
		.name {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.at {
				color: var(--base-color-gray);
				font-size: vw(10);
			}
		}
		.comment {
			padding-top: vw(3);
			font-weight: bold;
		}
	}
}

.ranking-main_container {
	padding: vw(24) vw(16);
}
.ranking-top_content {
	padding-bottom: vw(30);
	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: var(--base-color-gray);
		padding-bottom: vw(4);
		.label {
			font-size: vw(18);
			.sub {
				font-size: vw(14);
				margin-left: vw(7);
			}
		}
		.more {
			position: relative;
			.more_link {
				display: inline-flex;
				align-items: center;
				height: vw(24);
				color: inherit;
				font-size: vw(13);
				font-weight: bold;
				padding-right: vw(24);
				background: url(../img/arrow_right.png) no-repeat right center / vw(24);
			}
			.sort_age {
				display: inline-flex;
				align-items: center;
				height: vw(24);
				color: inherit;
				font-size: vw(13);
				font-weight: bold;
				padding-right: vw(24);
				background: url(../img/triangle_open.svg) no-repeat right center / vw(24);
			}
		}
	}
	.card_list_wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.card_list_l {
			@include card_list_large;
		}
		.card_list_s {
			@include card_list_small;
		}
	}
}

.ranking-vote_main_content {
	.main_name {
		font-size: vw(18);
	}
	.main_photo_wrap {
		margin-top: vw(12);
		.main_photo {
			border-radius: 5px;
		}
	}
	.entry_status {
		position: relative;
		display: flex;
		align-items: stretch;
		height: vw(86);
		background-color: var(--base-color-white);
		border-radius: 5px;
		margin-top: vw(12);
		&::after {
			content: "";
			display: block;
			position: absolute;
			left: 50%;
			top: vw(16);
			width: 1px;
			height: vw(54);
			background-color: var(--baes-border-color);
		}
		.entry_status_cell {
			flex: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			font-weight: bold;
			.entry_status_label {
				color: var(--base-color-lightgray);
				font-size: vw(12);
			}
			.entry_status_text {
				margin-top: vw(14);
				.emph {
					font-size: vw(18);
				}
			}
		}
	}
	.entry_pr {
		background-color: var(--base-color-white);
		border-radius: 5px;
		padding: 0 vw(12);
		margin-top: vw(12);
		.comment_list_item {
			@include comment_list_item;
		}
	}
	.received_vote {
		background-color: var(--base-color-white);
		border-radius: 5px;
		padding: vw(12);
		margin-top: vw(12);
		.label {
			color: var(--base-color-lightgray);
			font-size: vw(12);
		}
		.vote_category_wrap {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: vw(20) 0;
			padding-top: vw(12);
			padding-left: vw(24);
			padding-bottom: vw(14);
			.category_box {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				height: vw(48);
				padding-left:vw(56);
				background-repeat: no-repeat;
				background-position: left top;
				background-size: vw(48);
				.category_name {
					font-size: vw(11);
					margin-bottom: vw(3);
				}
				.vote_count {
					font-weight: bold;
					.emph {
						font-size: vw(18);
					}
				}
			}
		}
	}
	.fixed_action_nav {
		position: fixed;
		left: 50%;
		bottom: vw(20);
		transform: translateX(-50%);
		display: flex;
		width: vw(258);
		height: vw(40);
		border-radius: vw(20);
		overflow: hidden;
		background-color: $baseColor_azure;
		filter: drop-shadow(0px 2px 4px rgba(#9b9b9b, .6));
		&::before {
			content: "";
			display: block;
			position: absolute;
			top: vw(4);
			left: 50%;
			width: 1px;
			height: vw(32);
			background: rgba(#333, .2);
		}
		.btn_wrap {
			flex: 1;
			.btn {
				display: flex;
				align-items: center;
				justify-content: center;
				height: vw(40);
				color: var(--base-color-white);
				font-size: vw(15);
			}
		}
	}
	.received_comment {
		background-color: var(--base-color-white);
		border-radius: 5px;
		padding: vw(12);
		margin-top: vw(12);
		.label {
			color: var(--base-color-lightgray);
			font-size: vw(12);
		}
		.comment_list_item {
			@include comment_list_item;
		}
		.more_link {
			text-align: right;
		}
	}
}
.ranking-entry_form {
	border-radius: 4px;
	background-color: var(--base-color-white);
	padding: vw(12) vw(10) vw(32);
	margin: vw(12) vw(6);
	.label {
		color: var(--base-color-lightgray);
		.required {
			width: vw(36);
			height: auto;
			margin-left: vw(6);
			vertical-align: 0;
		}
	}
	.entry_photo_wra {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
		padding: vw(24) 0;
		.photo_wrap {
			&:nth-child(-n+2) {
				flex-basis: calc(50% - #{vw(2)});
			}
			&:nth-child(n+3) {
				flex-basis: calc((100% / 3) - #{vw(2)});
				margin-top: vw(4);
			}
			.photo_label {
				position: relative;
				display: inline-block;
			}
			.photo_check:checked + .photo_label::before {
				position: absolute;
				top: -#{vw(16)};
				right: -#{vw(12)};
				content: "";
				display: block;
				width: vw(48);
				height: vw(48);
				background: url(../img/check_on.png) no-repeat center / vw(48);
			}
			.photo {
				border-radius: 6px;
			}
		}
	}
	.entry_description {
		color: var(--base-color-gray);
		font-size: vw(12);
		padding: vw(10);
		background-color: var(--base-background-gray);
		margin-bottom: vw(16);
	}
	.comment_area {
		margin-top: vw(14);
		margin-bottom: vw(19);
	}
}

.recommend_entry {
	padding: vw(25) vw(10) vw(34);
	.label {
		color: var(--base-color-gray);
		font-size: vw(18);
	}
	.entry_wrap {
		display: flex;
		align-items: center;
		height: vw(100);
		padding: 0 vw(12);
		background-color: var(--base-color-white);
		border-radius: 3px;
		filter: drop-shadow(0px 1px 4px rgba(#000, .2));
		margin-top: vw(16);
		.thumb {
			width: vw(57);
			height: vw(57);
			border-radius: 50%;
		}
		.text {
			flex: 1;
			color: var(--base-color-gray);
			font-weight: bold;
			padding-left: vw(12);
		}
		.btn_entry {
			display: flex;
			align-items: center;
			justify-content: center;
			width: vw(130);
			height: vw(34);
			color: var(--base-color-white);
			font-weight: bold;
			border-radius: vw(17);
			background-color: $baseColor_darkSkyblue;
		}
	}
}
.campaign_ranking {
	.label {
		color: var(--base-color-gray);
		font-size: vw(18);
		padding: 0 vw(12);
	}
	.banner {
		margin-top: vw(12);
	}
}
.ranking_type_list {
	.ranking_type_list_item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: vw(96);
		border-bottom: 1px solid var(--baes-border-color);
		padding: 0 vw(16);
		overflow: hidden;
		.label {
			font-size: vw(18);
		}
		.more_content {
			transform: translateX(vw(20));
			.recent_list {
				margin-top: vw(8);
				.list_item {
					display: inline-block;
					width: vw(32);
					&:nth-child(2) {
						transform: translateX(-#{vw(10)});
					}
					&:nth-child(3) {
						transform: translateX(-#{vw(20)});
					}
					.thumb {
						border-radius: 50%;
						border: 2px solid var(--base-color-white);
					}
				}
			}
		}
	}
}


.ranking-myrank_container {
	padding: vw(18) vw(25) vw(32);
	background-color: var(--base-color-white);
	margin-top: vw(10);
	.myrank_header {
		display: flex;
		align-items: center;
		padding: 0 vw(14);
		.thumb {
			flex-basis: vw(80);
			.photo {
				border-radius: 50%;
			}
		}
		.body {
			flex: 1;
			padding-left: vw(12);
			.name {
				font-size: vw(20);
				margin-bottom: vw(14);
			}
			.btn_edit {
				display: flex;
				align-items: center;
				justify-content: center;
				width: vw(106);
				height: vw(24);
				color: var(--base-color-lightgray);
				font-size: vw(12);
				border: 1px solid var(--base-color-lightgray);
				border-radius: vw(12);
				background-color: var(--base-color-white);
			}
		}
	}
	.myrank_vote_status {
		position: relative;
		display: flex;
		align-items: stretch;
		height: vw(70);
		margin-top: vw(22);
		&::before {
			content: "";
			display: block;
			position: absolute;
			bottom: vw(2);
			left: 50%;
			width: 1px;
			height: vw(54);
			background-color: var(--base-color-warmgray);
		}
		.wrap {
			flex: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			.label {
				color: var(--base-color-lightgray);
				font-size: vw(12);
				font-weight: bold;
			}
			.body {
				flex: 1;
				display: flex;
				align-items: center;
				justify-self: center;
				@include font_hiragino_w6;
				font-size: vw(18);
				.emph {
					font-size: vw(24);
				}
			}
			.total {
				@include font_hiragino_w6;
				color: var(--base-color-gray);
				font-size: vw(10);
			}
		}
	}
	.myrank_vote_by_category {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: vw(16) 0;
		padding-left: vw(20);
		margin-top: vw(36);
		.category_wrap {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			color: var(--base-color-gray);
			&::before {
				content: "";
				display: block;
				width: vw(24);
				height: vw(24);
				background-repeat: no-repeat;
				background-position: center;
				background-size: vw(24);
				margin-right: vw(5);
			}
			$icon_name: bijo,cute,erotic,healingwoman2;
			@each $name in $icon_name {
				&.#{$name}::before {
					background-image: url(../img/vote/icon_#{$name}.png);
				}
			}
			.label {
				font-size: vw(10);
			}
			.vote {
				flex: 1;
				font-size: vw(12);
				padding-left: vw(4);
				.emph {
					@include font_hiragino_w6;
					font-size: vw(18);
				}
			}
		}
	}
	.myrank_self_comment {
		font-size: vw(12);
		padding: vw(10) vw(20);
		border-radius: 7px;
		background-color: var(--base-background-gray);
		margin-top: vw(28);
		.label {
			color: var(--base-color-lightgray);
			margin-bottom: vw(8);
		}
		.comment {
			color: var(--base-color-warmgray);
		}
	}
}