#container.gacha {
  font-family: 'HiraKakuProN-W3';
  background-color: #73cfff;
}

#container.gacha .gacha_present_wrap .present_wrap {
  padding: 0 8.5vw 1.1vw;
}

#container.gacha .gacha_present_wrap .present_wrap > li {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 1.1vw;
}

#container.gacha .gacha_present_wrap .present_wrap .open_message {
  position: relative;
  padding-bottom: 65%;
  background-size: 100% auto;
  background-image: url(../img/frame_present_open_message.png);
}

#container.gacha .gacha_present_wrap .present_wrap .open_message .wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 6.4vw;
  line-height: 1.3;
  box-sizing: border-box;
  text-align: center;
  padding-top: 28.3vw;
}

#container.gacha .gacha_present_wrap .present_wrap .premium_option {
  position: relative;
  padding-bottom: 65%;
  background-size: 100% auto;
  background-image: url(../img/frame_present_premium_option.png);
}

#container.gacha .gacha_present_wrap .present_wrap .premium_option .wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 6.4vw;
  line-height: 1.3;
  box-sizing: border-box;
  text-align: center;
  padding-top: 24vw;
}

#container.gacha .gacha_present_wrap .present_wrap .premium_option .wrap > small {
  display: inline-block;
  color: #999;
  font-size: 3.2vw;
  line-height: 1.2;
  -webkit-transform: translateY(-1.6vw);
          transform: translateY(-1.6vw);
}

#container.gacha .gacha_present_wrap .present_wrap .point {
  position: relative;
  padding-bottom: 65%;
  background-size: 100% auto;
  background-image: url(../img/frame_present_point.png);
}

#container.gacha .gacha_present_wrap .present_wrap .point .wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 6.4vw;
  line-height: 1.3;
  box-sizing: border-box;
  text-align: center;
  padding-top: 34.1vw;
}

#container.gacha .gacha_present_wrap .present_wrap .message_ticket {
  position: relative;
  padding-bottom: 27.5%;
  background-image: url("../img/frame_present_message_ticket.png");
  background-size: 100% auto;
}

#container.gacha .gacha_present_wrap .present_wrap .message_ticket .wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: start;
          justify-content: flex-start;
  font-size: 4.8vw;
  padding-left: 34.4vw;
}

#container.gacha .gacha_present_wrap .present_wrap .profile_ticket {
  position: relative;
  padding-bottom: 27.5%;
  background-image: url("../img/frame_present_profile_ticket.png");
  background-size: 100% auto;
}

#container.gacha .gacha_present_wrap .present_wrap .profile_ticket .wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: start;
          justify-content: flex-start;
  font-size: 4.8vw;
  padding-left: 34.4vw;
}

#container.gacha .gacha_return_top {
  position: fixed;
  right: 1.6vw;
  bottom: 6.4vw;
  z-index: 2;
}

#container.gacha .gacha_return_top .btn {
  visibility: hidden;
  opacity: 0;
  display: block;
  width: 18.1vw;
  height: 18.1vw;
  background: url(../img/btn_top.png) no-repeat center/18.1vw;
  -webkit-transition: .5s;
  transition: .5s;
}

#container.gacha .gacha_return_top .btn.appear {
  visibility: visible;
  opacity: 1;
}

.gacha_app .gacha_frame {
  position: relative;
  width: 92vw;
  height: 74.7vw;
  margin: 1.1vw auto 5.9vw;
}

.gacha_app .gacha_frame .gacha_inner_frame {
  position: relative;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(#fffdf0, #fcec95);
  background: linear-gradient(#fffdf0, #fcec95);
  border-radius: 8px;
  overflow: hidden;
}

.gacha_app .gacha_frame .gacha_body {
  position: absolute;
  top: 5.6vw;
  left: 8.7vw;
  width: 74.7vw;
  height: 97.3vw;
}

.gacha_app .gacha_frame .gacha_body .body {
  width: 100%;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.gacha_app .gacha_frame .gacha_body .body.shake {
  -webkit-animation: 2.5s linear shake;
          animation: 2.5s linear shake;
}

@-webkit-keyframes shake {
  0%, 19% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  35%, 70% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  71% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  85%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes shake {
  0%, 19% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  35%, 70% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  71% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  85%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.gacha_app .gacha_frame .gacha_body .front {
  position: absolute;
  top: 38.1vw;
  left: 20.3vw;
  width: 34.4vw;
}

.gacha_app .gacha_frame .gacha_body .handle {
  position: absolute;
  top: 40.3vw;
  left: 23.7vw;
  width: 26.7vw;
}

.gacha_app .gacha_frame .gacha_body .handle.rotate {
  -webkit-animation: 2.5s ease-in-out rotate;
          animation: 2.5s ease-in-out rotate;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  40%, 60% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  40%, 60% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.gacha_app .gacha_frame .gacha_body .hide_capsule_wrap {
  position: absolute;
  top: 38.1vw;
  left: 20vw;
  width: 34.7vw;
  height: 30.4vw;
  box-sizing: border-box;
}

.gacha_app .gacha_frame .gacha_body .hide_capsule_wrap .effect {
  position: absolute;
  top: 20.3vw;
  left: -2vw;
  width: 38.7vw;
  opacity: 0;
}

.gacha_app .gacha_frame .gacha_body .hide_capsule_wrap .effect.flash {
  -webkit-animation: 1.3s linear 1.36s forwards flash;
          animation: 1.3s linear 1.36s forwards flash;
}

@-webkit-keyframes flash {
  0% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    opacity: 0.4;
  }
  35% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 1;
    z-index: 1;
  }
  55% {
    opacity: 1.4;
    z-index: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flash {
  0% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    opacity: 0.4;
  }
  35% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 1;
    z-index: 1;
  }
  55% {
    opacity: 1.4;
    z-index: 1;
  }
  100% {
    opacity: 0;
  }
}

.gacha_app .gacha_frame .gacha_body .hide_capsule_wrap .capsule {
  position: absolute;
  left: 5.9vw;
  bottom: 0;
  width: 22.7vw;
  height: 22.7vw;
}

.gacha_app .gacha_frame .gacha_body .hide_capsule_wrap .capsule.drop {
  -webkit-animation: 2s ease-in-out .3s forwards drop;
          animation: 2s ease-in-out .3s forwards drop;
}

@-webkit-keyframes drop {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(26.7vw);
            transform: translateY(26.7vw);
  }
  20% {
    -webkit-transform: translateY(22.7vw);
            transform: translateY(22.7vw);
  }
  30% {
    -webkit-transform: translateY(26.7vw);
            transform: translateY(26.7vw);
  }
  40% {
    -webkit-transform: translateY(25.3vw);
            transform: translateY(25.3vw);
  }
  50%, 80% {
    -webkit-transform: translateY(26.7vw);
            transform: translateY(26.7vw);
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
    z-index: 2;
  }
  100% {
    -webkit-transform: translateY(26.7vw) rotate(-15deg);
            transform: translateY(26.7vw) rotate(-15deg);
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
    z-index: 2;
  }
}

@keyframes drop {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(26.7vw);
            transform: translateY(26.7vw);
  }
  20% {
    -webkit-transform: translateY(22.7vw);
            transform: translateY(22.7vw);
  }
  30% {
    -webkit-transform: translateY(26.7vw);
            transform: translateY(26.7vw);
  }
  40% {
    -webkit-transform: translateY(25.3vw);
            transform: translateY(25.3vw);
  }
  50%, 80% {
    -webkit-transform: translateY(26.7vw);
            transform: translateY(26.7vw);
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
    z-index: 2;
  }
  100% {
    -webkit-transform: translateY(26.7vw) rotate(-15deg);
            transform: translateY(26.7vw) rotate(-15deg);
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
    z-index: 2;
  }
}

.gacha_app .gacha_frame .gacha_body.slideup {
  -webkit-animation: 1s ease-out .5s forwards slideup;
          animation: 1s ease-out .5s forwards slideup;
}

@-webkit-keyframes slideup {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-33.3vw);
            transform: translateY(-33.3vw);
  }
}

@keyframes slideup {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-33.3vw);
            transform: translateY(-33.3vw);
  }
}

.gacha_app .gacha_frame .result_wrap {
  position: absolute;
  top: 3.3vw;
  left: 4.7vw;
  width: 81.6vw;
  height: 66.9vw;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: stretch;
          align-items: stretch;
  -webkit-box-pack: end;
          justify-content: flex-end;
  -webkit-transform-origin: center 53.3vw;
          transform-origin: center 53.3vw;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  visibility: hidden;
}

.gacha_app .gacha_frame .result_wrap > p {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  height: 28vw;
  font-size: 6.4vw;
  font-weight: bold;
  text-align: center;
}

.gacha_app .gacha_frame .result_wrap.open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.gacha_app .gacha_frame .result_wrap.result_jackpot {
  background: url(../img/bg_jackpot.png) no-repeat center top/contain;
}

.gacha_app .gacha_frame .result_wrap.result_hit {
  background: url(../img/bg_hit.png) no-repeat center top/contain;
}

.gacha_app .gacha_frame .shortage_wrap {
  position: absolute;
  top: -9.6vw;
  left: 4vw;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
          justify-content: stretch;
  width: 81.9vw;
  height: 96.8vw;
  padding: 0 5.1vw;
  background-color: #fff;
  border: 2px solid #ff5d00;
  border-radius: 11px;
  box-sizing: border-box;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  visibility: hidden;
}

.gacha_app .gacha_frame .shortage_wrap .body {
  font-size: 4.3vw;
  text-align: center;
}

.gacha_app .gacha_frame .shortage_wrap .body .label {
  font-size: 5.3vw;
  font-weight: bold;
  padding-top: 24vw;
  background: url(../img/icon_shortage.png) no-repeat center top/14.4vw;
}

.gacha_app .gacha_frame .shortage_wrap .body .p {
  padding: 5.3vw 0 8.5vw;
}

.gacha_app .btn_wrap {
  padding: 0 13.3vw;
}

.gacha_app .btn_wrap .disabled {
  pointer-events: none;
}

.gacha_app .btn_wrap .disabled img {
  -webkit-filter: opacity(0.3);
          filter: opacity(0.3);
}

.gacha_app .ticket_wrap {
  padding-top: 2.9vw;
}

.gacha_app .ticket_wrap .ticket {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 43.5vw;
  height: 14.4vw;
  font-weight: bold;
  margin: 0 auto;
  background: url(../img/bg_ticket.png) no-repeat center/contain;
}

.gacha_app .ticket_wrap .ticket > dt {
  font-size: 3.5vw;
  margin-right: 1em;
}

.gacha_app .ticket_wrap .ticket dd small {
  font-size: 3.2vw;
}
